@model IEnumerable<Auction.Model.Models.Bet>

@if (Model == null || Model.Count() == 0)
{
    <ul id="bets">
        <li>No Bets yet</li>
    </ul>
}
else
{
    <div class="accordion-group" >
        <div class="accordion-heading accordionize">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#@Model.First().LotId">
                All Bets
                <span class="font-icon-arrow-simple-down"></span>
            </a>
        </div>
        <div id="@Model.First().LotId" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul id="bets" >
                    @foreach (var b in Model)
                    {
                        {Html.RenderPartial("_BetPartial", b); }                    
                    }

                    </ul>

            </div>
        </div>
    </div>
}







