@model Auction.Model.Models.ImageViewModel
<li class="item-thumbs span3 design">

    <a class="hover-wrap fancybox" data-fancybox-group="gallery"  href=@Model.Url>
        <span class="overlay-img-thumb font-icon-zoom-in"></span>
    </a>
    <img src=@Model.Url >
</li>     